<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb8727b4-1ba8-417b-b56a-0218fa8e574b" Alias="Similarity Test B Content 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SimilarityTestBContent1</Path>
    <Trashed>false</Trashed>
    <ContentType>similarityTestB</ContentType>
    <CreateDate>2026-05-12T14:23:44</CreateDate>
    <NodeName Default="Similarity Test B Content 1" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[This is test body content for similarity testing B.]]></Value>
    </bodyText>
    <publishedDate>
      <Value><![CDATA[2024-01-15]]></Value>
    </publishedDate>
    <title>
      <Value><![CDATA[Test Document B]]></Value>
    </title>
  </Properties>
</Content>