<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf5762ce-057d-49d7-ae1e-3b2f8797d974" Alias="Similarity Test A Content 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SimilarityTestAContent1</Path>
    <Trashed>false</Trashed>
    <ContentType>similarityTestA</ContentType>
    <CreateDate>2026-05-12T14:23:32</CreateDate>
    <NodeName Default="Similarity Test A Content 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value><![CDATA[This is test body content for similarity testing.]]></Value>
    </bodyText>
    <title>
      <Value><![CDATA[Test Document A]]></Value>
    </title>
  </Properties>
</Content>