<?xml version="1.0" encoding="utf-8"?>
<Content Key="dabd0d5b-f66d-467d-be28-9c9faf921c22" Alias="Unused Property Test Content" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UnusedPropertyTestContent</Path>
    <Trashed>false</Trashed>
    <ContentType>unusedPropertyTest</ContentType>
    <CreateDate>2026-05-12T14:23:46</CreateDate>
    <NodeName Default="Unused Property Test Content" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Document with unused properties]]></Value>
    </title>
    <unusedField1>
      <Value><![CDATA[]]></Value>
    </unusedField1>
    <unusedField2>
      <Value><![CDATA[]]></Value>
    </unusedField2>
    <unusedField3>
      <Value><![CDATA[]]></Value>
    </unusedField3>
  </Properties>
</Content>