<?xml version="1.0" encoding="utf-8"?>
<DataType Key="848827af-b7ad-41bd-b4d2-d7f53c4c735f" Alias="Test Numeric" Level="1">
  <Info>
    <Name>Test Numeric</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Label</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "DECIMAL"
}]]></Config>
</DataType>