<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a97343e7-f2ee-4b39-9203-c8fcf06cb462" Alias="Test Textarea" Level="1">
  <Info>
    <Name>Test Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxChars": 100,
  "maxHeight": 100,
  "minHeight": 200,
  "rows": 10
}]]></Config>
</DataType>